<html>

    <head>
        <title>Requisitos</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
        <script type="text/javascript" src="js/controlador.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>

    <!--Cuerdo de la aplicacion: colocamos ng-app para aseverar que es una app
    manejada por ng.-->
    <body ng-app>

    <!--Outer div: todo lo que este dentro de este div sera nuestra aplicacion
    como tal y estara controlada por el controlador que alli se especifica-->
    <div ng-controller="ControladorReqs">
        <div class="page-header">
        <h1 class="title">Requisitos <small>{{page}}</small></h1>
    </div>

    <!--Div que comienza visible, a traves de el se hace el login del usuario.
    Si la autenticacion es correcta, se oculta este div y se hacen visibles
    los que sean necesarios. De no ser correcta, en la variable "error" se
    mostrara un mensaje pertinente y la persona volvera a intentarlo.-->
    <div id="login" style="display:{{parte1}}">
        <h2>Bienvenido al sistema de requisitos</h2>

        <form ng-submit="login()">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control" type="text" ng-model="usuario" placeholder="Usuario">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input class="form-control" type="password" ng-model="clave" placeholder="Clave">
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-lg btn-block"> Login </button>
        </form>
        <p class="error_message">{{error_login}}</p>
    </div>

    <!--Div que se hace visible si la persona ha pasado el nivel de autenticacion.
    En el se desplegaran los proyectos disponibles para trabajar (aquellos que
    esten en el arreglo "proyectos" del controlador.La persona seleccionara
    uno de ellos haciendole click.-->
    <div id="exito" style="display:{{parte2}}">
        <h2> Bienvenido {{usuario}}, elija el proyecto a trabajar: </h2>
        <br>
        <div class="list-group">
            <a href="" class="list-group-item" ng-repeat="pro in proyectos" ng-click="abrirProyecto(pro.nombre)">
                <span class="badge"><i id="carret" class="fa fa-caret-right"></i></span> {{pro.nombre}} 
            </a>
        </div>     
    </div>

    <!--Una vez que el usuario selecciona un proyecto para trabajar, se le desplegara
    una lista con los requerimientos almacenados para dicho proyecto. El usuario
    entonces podra seleccionar uno de ellos para verlo en detalle o modificarlo.
    Tambien podra agregar nuevos requerimientos o eliminar aquellos que desee y
    el cambio se vera de inmediato en la pagina gracias al binding de variables de 
    ng.-->
    <div id="trabajoProyecto" style="display:{{parte3}}" >
        <h2> Requerimientos para {{proyecto}} <small><a href="" ng-click="volverHome()">Volver</a></small></h2>
        <br>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="re in requerimientos">
                <a href="" ng-click="abrirRequerimiento(re.nombre)">{{re.nombre}}</a> 
                <span class="badge" ng-click="eliminarReq(re.nombre)">
                    <span class="glyphicon glyphicon-remove"></span>
                </span> 
            </li>
        </ul>
        <h3>Agregar Requerimiento</h3>
        <!--Formulario para agregar nuevos requerimientos.-->
        <form role="form" ng-submit="newreque()">
            <div class="form-group">
                <label>Nombre del Requerimiento</label>
                <input class="form-control" type="text" ng-model="nombrereq" placeholder="Nombre del Requerimiento">
            </div>  
            <div class="form-group">
                <label>Descripcion del Requerimiento</label>
                <input class="form-control" type="text" ng-model="descrreq" placeholder="Descripcion del Requerimiento">
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="categreq" name="optionsRadios" id="optionsRadios1" value="funcional" checked="">
                Funcional
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="categreq" name="optionsRadios" id="optionsRadios2" value="no funcional">
                No Funcional
              </label>
            </div>
            <button type="submit" class="btn btn-primary"> Agregar </button>
        </form>
    </div>

    <!--Parte de la pagina en la cual el usuario podra ver en detalle un 
    requerimiento dado.Ofrece la posibilidad de modificar el requerimiento.-->
    <div id="muestraRequerimiento" style="display:{{parte5}}">
        <h2> {{nombreReq}} <small><a href="" ng-click="volver()">Volver</a></small></h2>
        <br>
        <ul class="list-group">
            <li class="list-group-item"> 
                <h3 class="list-group-item-heading">Descripcion:</h3>
                <p class="list-group-item-text">{{descrReq}}</p>
            </li>
            <li class="list-group-item"> 
                <h3 class="list-group-item-heading">Categoria:</h3>
                <p class="list-group-item-text">{{categoriaReq}}</p>
            </li>
            <li class="list-group-item"> 
                <h3 class="list-group-item-heading">Tareas asociadas:</h3>
                <ol id="tareas">
                    <li ng-repeat="tarea in tareasReq">
                	   <h4>{{tarea.nombre}} <span class="glyphicon glyphicon-remove" ng-click="eliminarTarea(tarea.nombre, nombreReq)"></span></h4>
                       <p>{{tarea.descripcion}}</p>
                    </li>
                </ol>
            </li>
        </ul>

        <h3>Agregar Tarea</h3>
        <!--Formulario para agregar nuevas tareas.-->
        <form ng-submit="agregarTarea(nombreReq)">
            <div class="form-group">
                <label>Nombre de la Tarea</label>
                <input class="form-control" type="text" ng-model="nombretask" placeholder="Nombre de la Tarea">
            </div>  
            <div class="form-group">
                <label>Descripcion de la Tarea</label>
                <input class="form-control" type="text" ng-model="descrreq" placeholder="Descripcion de la Tarea">
            </div>
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        <br>
        <a href="" ng-click="modificarRequerimiento()"> <h3>Modificar datos del Requerimiento</h3></a>

        <div id="modifReq" style="display:{{parte6}}">
            <form ng-submit="actualizarRequerimiento(nombreReq)">
                <div class="form-group">
                    <label>Nombre del Requisito</label>
                    <textarea class="form-control" ng-model="newnomb" ROWS=1 COLS=30 placeholder="Nuevo Nombre" > </textarea>
                </div>
                <div class="form-group">
                    <label>Descripcion del Requisito</label>
                    <textarea class="form-control" ng-model="newdescr" ROWS=3 COLS=30 placeholder="Nueva Descripcion"> </textarea>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="newcateg" name="optionsRadios" id="optionsRadios1" value="funcional" checked="">
                    Funcional
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="newcateg" name="optionsRadios" id="optionsRadios2" value="no funcional">
                    No Funcional
                  </label>
                </div>
                <button class="btn btn-primary" type="submit"> Actualizar </button>
            </form>
        </div>
    </div>
    </div> <!-- end controller -->
  </body>
</html>