<html>

  <head>
    <title>Requisitos</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="js/controlador.js"></script>
  </head>

  <!--Cuerdo de la aplicacion: colocamos ng-app para aseverar que es una app
  manejada por ng.-->
  <body ng-app>
    <h2>Requisitos</h2>
    <hr></hr>
    
    <!--Outer div: todo lo que este dentro de este div sera nuestra aplicacion
    como tal y estara controlada por el controlador que alli se especifica-->
    <div ng-controller="ControladorReqs">

      <!--Div que comienza visible, a traves de el se hace el login del usuario.
      Si la autenticacion es correcta, se oculta este div y se hacen visibles
      los que sean necesarios. De no ser correcta, en la variable "error" se
      mostrara un mensaje pertinente y la persona volvera a intentarlo.-->
      <div id="login" style="display:{{parte1}}">
	<form ng-submit="login()">
	  <input type="text" ng-model="usuario">
	  <input type="password" ng-model="clave">
	  <button type="submit"> Login </button>
	</form>
	<p> {{error_login}}</p>
      </div>
      
      <!--Div que se hace visible si la persona ha pasado el nivel de autenticacion.
      En el se desplegaran los proyectos disponibles para trabajar (aquellos que
      esten en el arreglo "proyectos" del controlador.La persona seleccionara
      uno de ellos haciendole click.-->
      <div id="exito" style="display:{{parte2}}">
	<p> Bienvenido {{usuario}}, con que proyecto desea trabajar: </p>
	<ul>
	  <li ng-repeat="pro in proyectos">
	  <a href="" ng-click="abrirProyecto(pro.nombre)"> {{pro.nombre}}  </a>
	  </li>
	</ul>     
      </div>

      <!--Una vez que el usuario selecciona un proyecto para trabajar, se le desplegara
      una lista con los requerimientos almacenados para dicho proyecto. El usuario
      entonces podra seleccionar uno de ellos para verlo en detalle o modificarlo.
      Tambien podra agregar nuevos requerimientos o eliminar aquellos que desee y
      el cambio se vera de inmediato en la pagina gracias al binding de variables de 
      ng.-->
      <div id="trabajoProyecto" style="display:{{parte3}}" >
	<h3> {{proyecto}} </h3>
	<h4> Requerimientos para {{proyecto}} </h4>
	<h5> {{error_message}} </h5>
	<ul>
	    <li ng-repeat="re in requerimientos">
	      <a href="" ng-click="abrirRequerimiento(re.nombre)"> 
		{{re.nombre}} </a> <a href="" style="color:red" ng-click="eliminarReq(re.nombre)"> (eliminar) 
	      </a>  
	  </li>
	</ul>

	<!--Formulario para agregar nuevos requerimientos.-->
	<form ng-submit="newreque()">
	  <p> Agregar Requerimiento: </p>
	  <ul>
	    <li><input type="text" ng-model="nombrereq" placeholder="Nombre del req" required><br></br></li>
	    <li><input type="text" ng-model="descrreq" placeholder="Descripcion del req" required><br></br></li>


	    Categoria: 
	  </br>
	    <select ng-model="categreq" name="Funcional o no funcional" required>
	    	<option value="">Seleccione uno</option>
	    	<option value ="funcional" selected> Funcional </option>
	    	<option value ="no funcional"> No Funcional </option>
	    </select>
	    </br>
	  </ul>
	  
	  <button type="submit"> Agregar </button>
	  
	</form>
      </div>

      <!--Parte de la pagina en la cual el usuario podra ver en detalle un 
      requerimiento dado.Ofrece la posibilidad de modificar el requerimiento.-->
      <div id="muestraRequerimiento" style="display:{{parte5}}">
	<h4> {{nombreReq}} </h4>
	<h5>{{error_message}}</h5>
	<ul>
	  <li> Descripcion: <p> {{descrReq}} </p>
	    
	  </li>

	  <li> Categoria: <p> {{categoriaReq}}</p>
	    
	  </li>
	  <li>Tareas asociadas:
	  	<ul>
		  <li ng-repeat="tarea in tareasReq">
		  		{{tarea.nombre}} <a href="" style="color: red" ng-click="eliminarTarea(tarea.nombre, nombreReq)"> (eliminar)</a> <div>{{tarea.descripcion}}</div>
		  </li>
		  
		</ul>
	 </li>
	 </ul>
	 <!--Formulario para agregar nuevas tareas.-->
	<form ng-submit="agregarTarea(nombreReq)">
			  <p> Agregar Tarea: </p>

			    <input type="text" ng-model="nombretask" placeholder="Nombre de la tarea" required>
			    </br>
			    <input type="text" ng-model="descrtask" placeholder="Descripcion de la tarea" required>
			    </br>
			  <button type="submit"> Agregar </button>
	</form>
	<a href="" ng-click="modificarRequerimiento()"> (modificar datos del requerimiento): </a>
	</br>
	<div id="modifReq" style="display:{{parte6}}">
	<form ng-submit="actualizarRequerimiento(nombreReq)">
		<textarea ng-model="newnomb" ROWS=1 COLS=30 placeholder="Nuevo Nombre" required> </textarea>
		</br>
		<textarea ng-model="newdescr" ROWS=3 COLS=30 placeholder="Nueva Descripcion" required> </textarea>
		</br>
		<select ng-model="newcateg" name="Funcional o no funcional" required>
			<option value=""> Seleccione uno </option>
	    	<option value ="funcional"> Funcional </option>
	    	<option value ="no funcional"> No Funcional </option>
	    </select>
		</br>
		<button type="submit"> Actualizar </button>
		</br>
	</form>
	</div>

	<a href="" ng-click="volver()"> Volver </a>
    </div>   

    <hr> </hr>
	<a href="" ng-click="volverHome()"> Home </a>
    </div>

  </body>

</html>