/***********/
/* General */
/***********/

h1, h2, p {
	font-family: 'sans-serif';
}


a {
  color: #00B7FF;
  font-family: 'sans-serif';
}

.error_message {
	color: #e74c3c;
}

.glyphicon {
    color: white;
}

.btn-primary {
    background-color: #2f88df;
    border: none;
}

.btn-primary:hover {
    background-color: #2f88ff;
}

/**********/
/* Header */
/**********/

.page-header {
	background-color: #343642;
	margin: 0;
}

.page-header .title {
	padding: 20px  5%;
	color: white;
	margin: 0;
}

.page-header .title small {
	color: #2f88df;
}

/*********/
/* Login */
/*********/

#login {
	padding: 5%;
	text-align: center;
}

#login h2 {
	padding-bottom: 20px;
}

#login form {
	padding: 0 25%;
}

/********/
/* Home */
/********/

#exito {
	padding: 2% 5%;
}

#exito .list-group {
	width: 40%;
}

#exito .list-group a {
	color: #2f88df;
}

#exito .badge {
	background-color: #2f88df;
}

/***********/
/* Project */
/***********/

#trabajoProyecto {
    padding: 2% 5%;
}

#trabajoProyecto .list-group {
    width: 30%;
}

#trabajoProyecto .list-group a {
    color: #2f88df;
}

#trabajoProyecto .badge {
    background-color: #e74c3c;
    cursor: pointer;
}

#trabajoProyecto form {
    width: 30%;
}
