/***********/
/* General */
/***********/

h1, h2, p {
	font-family: 'sans-serif';
}


a {
  color: #00B7FF;
  font-family: 'sans-serif';
}

.error_message {
	color: #e74c3c;
	padding: 10px;
}

/**********/
/* Header */
/**********/

.page-header {
	background-color: #343642;
	margin: 0;
}

.page-header .title {
	padding: 20px  5%;
	color: white;
	margin: 0;
}

.page-header .title small {
	color: #2f889a;
}

/*********/
/* Login */
/*********/

#login {
	padding: 5%;
	text-align: center;
}

#login h2 {
	padding-bottom: 20px;
}

#login form {
	padding: 0 25%;
}

#login form button {
	background-color: #2f889a;
	border: none;
}

#login form button:hover {
	background-color: #2f88df;
}